body{
}

*{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.content{
    display: flex;
    grid-template-columns: 8em 60em;
    width: 80vw;
    height: 70vh;
    gap:5em;
}

h1{
    font-size: 500%;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 22%;
    margin: 0;
    gap: 30px;
}

.frame{
    box-shadow: 0px 5px 20px grey;
    height: 100%;
    width: 45%;
    margin: 0;
}

.colorpicker{
    border: 0px solid rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    margin: auto;
    margin-top:0;
    margin-bottom:20px;
    padding: 0;
    cursor: pointer;

}

button {
    transition: transform 0.1s ease-in-out;
  }

.bouton{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
}

.bouton:hover {
    transform: scale(1.05);
    background-color: rgb(213, 213, 213);
  }

  input[type="color"]:hover{
    transform: scale(1.05);
  }

.bouton:focus  {
    background-color: black;
    color: white;
}

.slider{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width:200px;
    height:8px;
}

input[type=range]::-webkit-slider-thumb {
    height: 26px;
    width: 26px;
    border-radius: 23px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type=color]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    cursor: pointer;
  }

  input[type=color]::-webkit-color-swatch {
    border-radius: 50px;
    border: none;
  }
  input[type=color]::-moz-color-swatch {
    border-radius: 50px;
    border: none;
  }